.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.096), 0 17px 17px 0 rgba(0, 0, 0, 0.051);
    width: 30%;
}

.img {
    max-width:80%;
    max-height:80%;
}

.text {
    text-align: center;
}