.content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.locations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
}

.button {
    flex: 0 50%;
    border-radius: 10px;
}