.content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.locations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
}

.button {
    flex: 0 50%;
    border-radius: 10px;
    background-color: #FFCD02;
    border: 3px solid #295FFF;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.096), 0 5px 5px 0 rgba(0, 0, 0, 0.051);
    text-transform: uppercase;
}